@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600;1,700;1,800&family=Signika:wght@300;500;600;700&display=swap');
.wrapper{
    width:100%;
    height:100%;
    margin-top: 50px;
    text-align: center;
}
header{
    font-size: 100px;
    font-family: 'Lilita One', cursive;
 
}
.main{
  width:700px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.inputField{
   margin-top: 30px;
 
    
}
#addValue{
    padding:6px;
    border-radius: 10px;
   
}
#btn{

    padding: 3px;
    border-radius: 50%;

}
#h3{
    margin-top: 50px;
    font-size: 15px;
    color: rgb(129, 129, 129);
}
.footer button{
    border-radius:20px;
    padding: 10px;
}

img{
    width:10%;
    height:50%;
}
#allClear:hover{
    background-color: rgba(168, 165, 165, 0.525);
}